header {
    font-family: Arial, sans-serif;
}

main {
    font-family: Helvetica, sans-serif;
}

#header-top {
    background-color: black;
}

.ms_img img{
    min-width: 70px;
    max-width: 100px;
}

.ms_btn-login {
    background-color: #363636;
    border-radius: 25px;
    color: white;
    padding: 6px;
}

.ms_jumbo {
    color: white;
    background-position: center;
    background-size: cover;
    padding-top: 400px;
}

#ms_main-jumbotron {
    background-image: url("../img/jumbo-bg.png");
}

.ms_jumbo-content img {
    width: 35%;
}

.ms_btn-purchase {
    color: white;
    background-color: #cd3d0f;
    border-radius: 18px;
}

.ms_carousel-card {
    border-radius: 20px;
    padding: 5px;
}

.ms_carousel-card img {
    border-radius: 20px;
}

.ms_carousel-card:hover {
    border: 3px #1988e3 solid;
}

.ms_product-intro span {
    color: #1988e3;
}

.ms_product-intro p {
    color: #727272;
    font-weight: bold;
}

.ms_product-info p {
    color: #727272;
}

.ms_btn-info {
    color: white;
    background-color: #1988e3;
    border-radius: 18px;
}

.ms_product-img  img{
    width: 78%;
}

.ms_border {
    border-bottom: 5px #1988e3 solid;
}

.ms_card img {
    width: 60%;
}

.fa-sharp.fa-solid.fa-trademark {
font-size: 10px;
vertical-align: text-top;
}

#it-takes-two {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
}

#new-releases {
    background-color: #1f1f1f;
}

.ms_game,
.ms_game img {
border-radius: 26px;
}

.fa-regular.fa-registered {
    font-size: 18px;
    vertical-align: text-top;
}

.ps4 p {
    color: #727272;
}

#ps-plus {
    background-color: #bebcbb;
}

.ms_btn-psplus {
    color: #1988e3;
    background-color: #d9dadc;
    border-radius: 18px;
}

/* .ms_text,
.ms_lateral-img {
    height: 450px;
} */

.saving-tier {
    background-color: crimson;
    height: 225px;
}

#ps-now {
    background-color: #161c3b;
}

.ms_section-title {
    background-color: teal;
    height: 70px;
}

.ms_social-logo {
    background-color: darkgreen;
    height: 130px;
}

footer {
    background-color: #00439c;
}

.region,
.ms_list,
.ms_copyright {
    background-color: goldenrod;
    height: 200px;
}