#header-top {
    background-color: black;
}

.ms_img {
    background-color: #fff;
    height: 40px;
}

.ms_jumbotron {
    background-color: aquamarine;
}

.ms_jumbo-content {
    height: 400px;
}

.ms_carousel-card {
    height: 250px;
    background-color: blueviolet;
}