header {
    font-family: Arial, sans-serif;
}

main {
    font-family: Helvetica, sans-serif;
}

#header-top {
    background-color: black;
}

.ms_img img{
    min-width: 70px;
    max-width: 100px;
}

.ms_btn-login {
    background-color: #363636;
    border-radius: 25px;
    color: white;
    padding: 6px;
}

.ms_jumbo {
    color: white;
    background-position: center;
    background-size: cover;
    padding-top: 400px;
}

#ms_main-jumbotron {
    background-image: url("../img/jumbo-bg.png");
}

.ms_jumbo-content img {
    width: 35%;
}

.ms_btn-purchase {
    color: white;
    background-color: #cd3d0f;
    border-radius: 18px;
}

.ms_carousel-card {
    border-radius: 20px;
    padding: 5px;
}

.ms_carousel-card img {
    border-radius: 20px;
}

.ms_carousel-card:hover {
    border: 3px #0e79d0 solid;
}

.ms_product-intro {
    background-color: blue;
    height: 100px;
}

.ms_product-info {
    background-color: brown;
    height: 300px;
}

.ms_product-img {
    background-color: cadetblue;
    height: 300px;
}

.ms_card {
    height: 150px;
    background-color: burlywood;
}

#new-releases {
    background-color: #1f1f1f;
}

.ms_title {
    background-color: chocolate;
    height: 100px;
}

.ms_game {
    background-color: chartreuse;
    height: 150px;
}

.ps4,
.ps-vr,
.ps4-accessories {
    background-color: cornflowerblue;
    height: 250px;
}

#ps-plus {
    background-color: #bebcbb;
}

.ms_text,
.ms_lateral-img {
    height: 450px;
}

.saving-tier {
    background-color: crimson;
    height: 225px;
}

#ps-now {
    background-color: #161c3b;
}

.ms_section-title {
    background-color: teal;
    height: 70px;
}

.ms_social-logo {
    background-color: darkgreen;
    height: 130px;
}

footer {
    background-color: #00439c;
}

.region,
.ms_list,
.ms_copyright {
    background-color: goldenrod;
    height: 200px;
}